extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username
    form#formHome(name="home",method="get",action="/")
      br
      button#btnHome(type="submit") Back to Home
      br